<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p><%=content%></p>
    <% newPost.forEach(function(post){%>
      <h3><%= post.title %></h3>
      <p><%= post.body.substring(0,100)+"..." %>
        <a href="/posts/<%= post.title %>">Read More</a></p>

    <%});%>

    <h3></h3>
  <%- include("partials/footer"); -%>
